<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Noterat</title>
  <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body class="ml-10">
  <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-green-600">Mina anteckningar</h1>
  <h2 class="mb-8"> Ny app för olika former av anteckningar och noteringar</h2>
  <p><a class="text-blue-800" href="/locations">Länk till experimentet med länksida</a></p>


  <!--<script src="scripts.js"></script> -->
</body>
</html>
